{% extends "@stable/block/block.html.twig" %}
  {% block content %}
    <!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
                        {% for row in content.logos %}
						<div class="single-logo-item">
							{{ row }}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
  {% endblock %}